<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ffyuanda's website</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="navbar">

        <h1>ffyuanda's website</h1>
        <hr>
        <ul>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
            <li>placeholder</li>
        </ul>
        <hr>
        <p style="font-weight: bold; position: absolute; bottom: 5%;">Move fast. No haste.</p>
        <p style="font-style: italic; position: absolute; right: 10%; bottom: 3%;">--ffyuanda</p>
    </div>

    <div class="content">
        <h1>Fact sheet</h1>
        <h1>TESTTESTTEST</h1>
    </div>

    

</body>
</html>